label {
    color: rgb(241, 51, 222);
}
.caixa {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.input {
    width: 200px;
    color: rgb(68, 173, 214);
}
button{
    margin-top: 10px;
}
input{
    display: flex;
    margin-right: 10px;
}
.divmaior{
    display: flex;
    flex-direction: row;
}
